:root {
  --PaddingX: 12%;
  --PaddingY: 5em;
  --PaddingElements: 1em;
  --BGPrimary: #101c34;
  --BGSecondary: rgb(237, 237, 237);
  --BGButton: #cd8032;

  --TextPrimary: rgb(237, 237, 237);
  --TextSecondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--BGSecondary);
  scroll-behavior: smooth;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  user-select: none;
}

article {
  width: 100%;
  position: relative;
  height: 100%;
}

/* Tudo que for fixo */
.container_fixed {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(
    to right,
    #101c34 70%,
    var(--BGSecondary) 30%
  );
  padding: var(--PaddingY) 0 var(--PaddingY) var(--PaddingX);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__text {
  width: 100%;
}
.container_arrow {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 3em;
}
.container_arrow span {
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}
.container_arrow span {
  background-color: var(--BGButton);
  color: var(--TextPrimary);
  border-radius: 5px;
}

.container_arrow span i {
  color: var(--TextSecondary);
  font-size: 30px;
  cursor: pointer;
}
.container_fixed .container__text {
  z-index: 1;
}
.container_fixed .container__text img {
  height: 90px;
}
.container_fixed .container__text h1 {
  font-size: 40px;
  padding: var(--PaddingElements) 0;
}
.container_fixed .container__text p {
  font-size: 18px;
  padding-bottom: var(--PaddingElements);
  width: 100%;
}
.container_fixed .container__text button {
  width: 300px;
  background-color: var(--BGButton);
  color: var(--TextSecondary);
  font-weight: 900;
  font-size: 1.2rem;
  border: none;
  padding: 5px 10px;
  margin-bottom: var(--PaddingElements);
}
.container_fixed .container__text .container__social {
  display: flex;
  gap: 20px;
}

.container_fixed .container__text .container__social a {
  font-size: 1.4rem;
  color: var(--TextPrimary);
  text-decoration: none;
  transition: all 0.9s;
}

.container__social a i {
  font-size: 1.4rem;
  color: var(--TextPrimary);
  text-decoration: none;
  transition: all 0.9s;
}


/* Tudo que passar */
.container_fluid {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: auto !important;
  scroll-snap-type: y mandatory;
}

.container__text {
  width: 100%;
  max-width: 400px;
}

.container_fluid::-webkit-scrollbar {
  width: 0px;
}
.container_fluid section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  scroll-snap-align: start;
  padding-right: var(--PaddingX);
}

.container_fluid section img {
  width: 400px;
  border: solid 5px var(--BGSecondary);
  border-radius: 5px;
}

/*media queries*/

@media screen and (max-width: 1000px) {
  .container_fixed {
    background-image: linear-gradient(
      to right,
      #101c34 100%,
      var(--BGSecondary) 0%
    );
  }

  .container_fluid section img {
    width: 250px;
  }
}
@media screen and (max-width: 800px) {
  .container_fixed {
    background-image: linear-gradient(
      to right,
      #101c34 100%,
      var(--BGSecondary) 0%
    );
  }

  .container__text {
    width: 100%;
    max-width: 350px;
  }

  .container_fluid section img {
    width: 220px;
  }
}

@media screen and (max-width: 600px) {
  .container_fixed {
    flex-direction: column;
    padding: 15px 10px;
  }

  .container_arrow {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding-right: 3em;
  }

  .container_fixed .container__text button {
    width: 250px;
    font-size: 1.2rem;
  }

  .container_fixed .container__text .container__social {
    display: flex;
    gap: 10px;
  }

  .container_fixed .container__text .container__social a {
    font-size: 1.1rem;
    color: var(--TextPrimary);
    text-decoration: none;
    transition: all 0.9s;
  }

  .container_fixed .container__text h1 {
    font-size: 30px;
    padding: var(--PaddingElements) 0;
  }

  .container_fluid {
    height: 300px;
    top: 450px;
  }

  .container_fluid section img {
    width: 200px;
  }

  .container_fluid section {
    height: 300px;
  }
}
