:root {
  --PaddingX: 12%;
  --PaddingY: 5em;
  --PaddingElements: 1em;
  --BGPrimary: #101c34;
  --BGSecondary: rgb(237, 237, 237);
  --BGButton: #cd8032;

  --TextPrimary: rgb(237, 237, 237);
  --TextSecondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--BGSecondary);
  scroll-behavior: smooth;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  user-select: none;
}

article {
  width: 100%;
  position: relative;
  height: 100%;
}
a, button {
  cursor: pointer !important;
}
.WhatsIcon {
	position: fixed;
	bottom: 3em;
	right: 3em;
	z-index: 999;
}
.WhatsIcon img {
	height: 65px;
}

/* Tudo que for fixo */
.container_fixed {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(
    to right,
    #101c34 70%,
    var(--BGSecondary) 30%
  );
  padding: var(--PaddingY) 0 var(--PaddingY) var(--PaddingX);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__text {
  width: 100%;
}
.container_arrow {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 3em;
}
.container_arrow span {
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}
.container_arrow span {
  background-color: var(--BGButton);
  color: var(--TextPrimary);
  border-radius: 5px;
}

.container_arrow span i {
  color: var(--TextSecondary);
  font-size: 30px;
  cursor: pointer;
}
.container_fixed .container__text {
  z-index: 1;
}
.container_fixed .container__text img {
  height: 90px;
}
.container_fixed .container__text h1 {
  font-size: 40px;
  padding: var(--PaddingElements) 0;
}
.container_fixed .container__text p {
  font-size: 18px;
  padding-bottom: var(--PaddingElements);
  width: 100%;
}
.container_fixed .container__text button {
  width: 300px;
  background-color: var(--BGButton);
  color: var(--TextSecondary);
  font-weight: 900;
  font-size: 1.2rem;
  border: none;
  padding: 5px 10px;
  margin-bottom: var(--PaddingElements);
}
.container_fixed .container__text .container__social {
  display: flex;
  gap: 20px;
}

.container_fixed .container__text .container__social a {
  font-size: 1.4rem;
  color: var(--TextPrimary);
  text-decoration: none;
  transition: all 0.9s;
}

.container__social a i {
  font-size: 1.4rem;
  color: var(--TextPrimary);
  text-decoration: none;
  transition: all 0.9s;
}


/* Tudo que passar */
.container_fluid {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: auto !important;
  scroll-snap-type: y mandatory;
}

.container__text {
  width: 100%;
  max-width: 400px;
}

.container_fluid::-webkit-scrollbar {
  width: 0px;
}
.container_fluid section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  scroll-snap-align: start;
  padding-right: var(--PaddingX);
}

.container_fluid section img {
  width: 450px;
  border: solid 5px white;
  border-radius: 5px;
}

.container_fluid section .AfterBefore {
  width: 450px;
  height: 450px;
  position: relative;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  transition: 0.3s;
  position: absolute;
}
.title h2 {
  background-color: var(--TextPrimary);
  color: var(--BGPrimary);
  margin-bottom: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}
.title h2 strong {
  color: var(--BGButton);
}
.container_fluid section .AfterBefore:hover > .title {
  transition: 0.3s;
  opacity: 1;
}
.container_fluid section .AfterBefore label {
  position: absolute;
  width: 60%;
  height: 60%;
}
.container_fluid section .AfterBefore label:nth-child(1) {
  top: 0;
  left: 0;
  z-index: 1;
}
.container_fluid section .AfterBefore label:nth-child(2) {
  bottom: 0;
  right: 0;
}
.container_fluid section .AfterBefore label img {
  width: 100%;
  height: 100%;
}

.container_fluid section .AfterBefore label::before {
  content: attr(data-content);
  position: absolute;
  padding: 6px 15px;
  border: solid 1px #949494;
  display: inline-block;
  background-color: var(--BGSecondary);
  color: var(--TextSecondary);
  border-radius: 10px;
  bottom: -15px;
  left: 15px;
  font-weight: 600;
}

/* ForImages */
.container_fluid section .ForImages {
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container_fluid section .ForImages:hover > .title {
  transition: 0.3s;
  opacity: 1;
}
.container_fluid section .ForImages .item {
  width: 50%; 
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_fluid section .ForImages .item img {
  width: 95%; 
  height: 95%;
}

/* TwoImages */
.container_fluid section .TwoImages {
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container_fluid section .TwoImages:hover > .title {
  transition: 0.3s;
  opacity: 1;
}
.container_fluid section .TwoImages .item {
  width: 50%; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_fluid section .TwoImages .item img {
  width: 95%; 
}


/*media queries*/

@media screen and (max-width: 1000px) {
  .container_fixed {
    background-image: linear-gradient(
      to right,
      #101c34 100%,
      var(--BGSecondary) 0%
    );
  }

  .container_fluid section img {
    width: 250px;
  }
}
@media screen and (max-width: 800px) {
  .container_fixed {
    background-image: linear-gradient(
      to right,
      #101c34 100%,
      var(--BGSecondary) 0%
    );
  }

  .container__text {
    width: 100%;
    max-width: 350px;
  }

  .container_fluid section img {
    width: 220px;
  }
}

@media screen and (max-width: 600px) {
    .mobile-none {
        display: none;
    }
  article {
    background-color: var(--BGPrimary);
  }
  body {
    overflow-y: auto;
  }
  .title {
    position: static;
    opacity: 1;
  }
  .title h2 {
    margin-bottom: 5px;
  }
  .container_fluid section .AfterBefore,  
  .container_fluid section .ForImages,
  .container_fluid section .TwoImages {
    position: static;
    width: 100%;
    height: auto;
  }
  .container_fluid section .AfterBefore {
    display: flex;
    flex-wrap: wrap;
  }
  .container_fluid section .AfterBefore .title {
    width: 100%;
  }
  .container_fluid section .AfterBefore label {
    width: 100%;
    padding: 10px;
    position: relative !important;
  }
  .container_fluid section .AfterBefore label::before {
    content: attr(data-content);
    position: absolute;
    padding: 6px 15px;
    border: solid 1px #949494;
    display: inline-block;
    background-color: var(--BGSecondary);
    color: var(--TextSecondary);
    border-radius: 10px;
    bottom: -5px;
    left: 15px;
    font-weight: 600;
  }
  .container_fluid section .AfterBefore label,  
  .container_fluid section .ForImages label,
  .container_fluid section .TwoImages label {
    position: static;
  }
  .container_fluid section .ForImages .item,
  .container_fluid section .TwoImages .item {
    width: 100%;
    margin-bottom: 10px;
  }
  .container_fixed {
    flex-direction: column;
    padding: 15px 10px;
    height: auto;
    position: static;
  }

  .container_arrow {
    display: none;
  }

  .container_fixed .container__text {
    max-width: 90%;
  }

  .container_fixed .container__text button {
    width: 250px;
    font-size: 1.2rem;
  }

  .container_fixed .container__text .container__social {
    display: flex;
    gap: 10px;
  }

  .container_fixed .container__text .container__social a {
    font-size: 1.1rem;
    color: var(--TextPrimary);
    text-decoration: none;
    transition: all 0.9s;
  }

  .container_fixed .container__text h1 {
    font-size: 30px;
    padding: var(--PaddingElements) 0;
  }

  .container_fluid {
    height: auto !important;
    display: flex;
    flex-direction: column;
    position: static;
    overflow-y: hidden !important;
    justify-content: center;
    padding: 0px 15px 2em 15px;
  }
  .container_fluid section {
    width: 100%;
    height: auto !important;
    padding: 1em 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_fluid section img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border: none;
  }
  .WhatsIcon {
    right: 2em;
    bottom: 2em;
  }
  .WhatsIcon img {
    height: 50px;
  }
}

